<link rel="stylesheet" href="/css/footer.css">
<div class="footer-board">
    <p class="footer-text">
        © Copyright 2015 Company Name. All rights reserved.
    </p>
    <%=new Date()%>
</div>

</body>
</html>