<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/header.css">
  <title>Products management system</title>
</head>
<body>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/admin/products">Products</a>
  <a href="/admin/users">Users</a>
  <a href="/admin/login/logout" class='header-right'>Logout</a>
  <a class='header-right'>Welcome <%=userinfo.username%>
  </a>
</div>
