<link rel="stylesheet" href="/css/sidenav.css">

<div class="sidenav">
    <a href="/admin/products">Product list</a>
    <a href="/admin/products/product-add">Add item</a>
    <!-- <a href="/stockedit">Edit category</a> -->
</div>
