<link rel="stylesheet" href="/css/orderLeftSideBar.css">

<div class="sidenav">
    <a href="/admin/orders">Current</a>
    <a href="/admin/orders/order-add">Add order</a>
    <a href="/admin/orders/order-history">Order History</a>
</div>
