<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/header.css">
  <title>Product management system</title>
</head>
<body>
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="/products">Products management</a>
  <a href="/usermanage">User management</a>
  <a href="/logout" class='header-right'>Logout</a>
  <a class='header-right'>Welcome 
    <!-- <%=userinfo.username%> -->
  </a>
</div>
