<link rel="stylesheet" href="css/sidenav.css">

<div class="sidenav">
    <a href="/products">Product list</a>
    <a href="/stockadd">Add item</a>
    <!-- <a href="/stockedit">Edit category</a> -->
</div>
